body {
    background-color: #000;
    color: #f9f8f0;
    padding: 40px 76px;
    line-height: 1.5;
    font-family: inter;
    font-weight: 200;
    font-size: 21px;
    transition: all 0.5s ease-in-out;
}

body.light-mode {
    background-color: #f9f8f0;
    color: #000000;
    /*color: #01acbb; */
}

body.light-mode a {
    color: #000000;
}

body.light-mode a:hover {
    color: #232323;
}

body.blue-mode {
    background-color: #4610c4;
    color: #01acbb;
}

body.blue-mode a {
    color: #01acbb;
}

body.blue-mode a:hover {
    color: rgb(119, 114, 114);
}

.hero-img-wrapper.blue-mode,
.hero-img2-wrapper.blue-mode {
    mix-blend-mode: screen;
    /* Adjust if needed */
}

button {
    position: fixed;
    bottom: 10%;
    right: 2%;
    font-weight: 200;
    color: #f9f8f0;
    background-color: transparent;
    border: 1px solid #f9f8f0;
    border-radius: 30px;
    padding: 5px 15px;
    cursor: pointer;
    z-index: 99;
}

svg path {
    fill: #000000;
    stroke: #f9f8f0;
    stroke-width: 1;
    stroke-dasharray: 90;
    stroke-dashoffset: 90;
    animation: logoMove 7s ease-in-out infinite alternate-reverse;
}

@keyframes logoMove {
    0% {
        stroke-dashoffset: 90;
    }

    80% {
        fill: transparent;
    }

    100% {
        fill: #fff;
        stroke-dashoffset: 0;
    }
}

/* HEADER */

header {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    width: 100%;
    font-family: inter;
    font-weight: normal;
    font-size: 21px;
    margin-bottom: 40px;
}

.logo,
header a,
a {
    font-weight: 400;
    text-decoration: none;
    margin: 10px;
    color: #f9f8f0;
    text-transform: uppercase;
}

a:hover {
    color: #c8f2f6;
}

.selected {
    color: #c8f2f6;
}

/* HERO */

.hero {
    position: relative;
    display: flex;
    align-items: center;
    margin: 70px auto 70px auto;
    height: max-content;
    animation: heroAppear 2s ease-in-out;
}

@keyframes heroAppear {
    0% {
        opacity: 0;
        scale: 0.9;
    }

    100% {
        opacity: 1;
        scale: 1;
    }
}

.hero-wrapper {
    margin: 20px;
    width: 100%;

}

.hero-text {
    width: fit-content;
}

.hero h1 {
    font-size: 15vw;
    margin: 3px;
    font-weight: 300;
    line-height: 1;
    font-family: anton sc;
}

.moments {
    position: relative;
    left: 25%;
}

.hero-explain {
    width: fit-content;
    font-size: 20px;
    margin-top: 20px;
}

.hero-img-wrapper {
    position: absolute;
    top: 20%;
    right: 85%;
    width: 30px;
    height: 300px;
    animation: float 3s ease-in-out infinite;
    mix-blend-mode: darken;
    visibility: visible;
}

.hero-img-wrapper.light-mode {
    mix-blend-mode: screen;
    transition: all 0.5s ease-in-out;
}

.hero-img,
.hero-img2 {
    width: 100%;
    height: 100%;
    border-radius: inherit;
    transform: rotate(10deg);
    transition: 0.8s ease;
}

.hero-img:hover {
    transform: rotate(-10deg);
    width: 300px;
}

.hero-img2-wrapper {
    position: absolute;
    top: 20%;
    left: 67%;
    width: 25vw;
    height: 25vw;
    transform: rotate(10deg);
    mix-blend-mode: screen;
}

.hero-img2-wrapper.light-mode {
    mix-blend-mode: normal;
    z-index: -1;
    transition: all 0.5s ease-in-out;
}

.hero-img2 {
    position: relative;

    width: 100%;
    height: 100%;
    animation: float 3s ease-in-out infinite;
}

.hero-img2 img {
    border-radius: inherit;
    transition: 1s ease-in-out;
}

.hero-img2:hover img {
    transform: rotate(-10deg);
    border-radius: 100%;
}

.hero-img img,
.hero-img2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

@keyframes float {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }

    100% {
        transform: translateY(0);
    }
}

/* GALLERY */

.gallery1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.galleryimages {
    width: 350px;
    height: 350px;
    object-fit: cover;
    border-radius: 20px;
    filter: grayscale(100%);
    border: 5px solid transparent;
    overflow: hidden;
    transition: 0.2s ease-in-out;
    animation: appear ease-in-out;
    animation-timeline: view();
    animation-range: entry 0 cover 40%;
    -webkit-animation-timeline: view();
    -webkit-animation-range: entry 0 cover 40%;
}

.galleryimages:hover {
    filter: grayscale(0%);
}

@keyframes appear {
    0% {
        opacity: 0;
        scale: 0.5;
    }

    100% {
        opacity: 1;
        scale: 1;
    }
}

/*OVERLAYS*/

.modal {
    display: none;
    visibility: visible;
}

.modal-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(17, 17, 17, 0.85);
    z-index: 1;
}

.modal-close {
    position: fixed;
    top: 0;
    right: 0;
    padding: 20px 25px 20px 25px;
    z-index: 2;
    cursor: pointer;
    color: rgb(255, 255, 255);
    font-size: 12px;
}

.modal-content {
    position: fixed;
    background: transparent;
    top: 50%;
    left: 50%;
    width: 70%;
    height: auto;
    transform: translate(-50%, -50%);
    z-index: 2;
}

/* CONTACT */

.CA h2 {
    margin: 7px;
    font-size: clamp(20px, 2vw + 50px, 70px);
    line-height: 1;
    font-family: anton sc;
}

.CA {

    display: flex;
    height: 50px;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px 0;
    margin-top: 200px;
    margin-bottom: 150px;
}

.CA-line {

    width: 30vw;
    height: 1px;
    background-color: #f9f8f0;
    margin: 10px;
}

.ca-about {
    position: relative;
    top: -100%;
}

/* FOOTER */

footer {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    width: 100%;
    font-family: inter;
    font-size: 21px;
    margin-top: 50px;
}

html {
    scroll-behavior: smooth;
}

/*ABOUT PAGE*/

.about-page {
    font-size: 20px;
    display: flex;
    line-height: 1.6;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
}

.about-text {
    font-family: inter;
    font-weight: 200;
    width: 40vw;
    font-size: 25px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.about-h3 {
    font-size: 37px;
    font-weight: 200;
    margin: 0;
}

.about-img {
    position: absolute;
    right: 0;
    width: 45vw;
    height: 100vh;
    transition: 0.2s ease-in-out;
    z-index: -1;
}

.about-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.about-footer {
    display: flex;
    backdrop-filter: blur(10px);
    width: 100%;
    justify-content: flex-end;
}

/*MEDIA QUERIES*/

/* max-width: 928px INDEX PAGE*/

@media screen and (max-width: 928px) {

    .hero {
        margin: 70px auto 100px auto;
        height: 90vh;
    }

    .galleryimages {
        width: 46%;
        height: auto;
    }

    /* max-width: 928px ABOUT PAGE*/

    .about-page {
        display: flex;
        flex-direction: column;
        line-height: 1.6;
        margin-top: 20px;
        margin-bottom: 20px;
        height: max-content;
    }

    .about-h3 {
        margin-bottom: 50px;
    }

    .about-text {
        width: 100%;
        font-size: 21px;
        margin-top: 50px;
        margin-bottom: 40px;
    }

    .about-img {
        margin-top: 40px;
        position: relative;
        width: 100%;
        height: 300px;
    }

    .about-footer {
        justify-content: center;
    }
}

/* max-width: 600px MEDIA QUERY*/

@media screen and (max-width: 600px) {

    .modal {
        visibility: visible;
    }

    body {
        padding: 15px;
        line-height: 1.4;
        font-size: 17px;
    }

    header,
    footer {
        font-size: 13px;
        margin-bottom: 60px;
    }

    .hero {

        align-items: flex-end;
        position: relative;
        height: 85vh;
    }

    .hero-img-wrapper {
        visibility: hidden;
    }

    .hero-img2-wrapper {
        top: 50%;
        left: 50%;
        width: 60vw;
        height: 60vw;
        transform: rotate(0deg) translate(-50%, -110%);
    }

    .moments {
        position: relative;
        left: 25%;
    }

    .CA {
        padding: 10px;
        margin-top: 100px;
        margin-bottom: 70px;
    }

    .CA h2 {
        margin: 3px;
        font-size: 25px;
        line-height: 1;
        font-family: anton sc;
    }

    .galleryimages {
        width: 100%;
        height: 400px;
        filter: grayscale(100%);
    }
}

@media screen and (max-width: 380px) {

    header,
    footer {

        font-size: 10px;
        margin-bottom: 20px;
    }

    .hero {

        height: 60vh;
        margin: 100px auto 0px auto;
    }

    .logo,
    header a,
    a {
        margin: 2px;
    }

    .moments {
        position: relative;
        left: 20%;
    }

    .CA h2 {
        margin: 3px;
        font-size: 18px;
        line-height: 1;
        font-family: anton sc;
    }
}