body {
    background-color: #000;
    color: #f9f8f0;
    padding: 40px 76px;
    line-height: 1.5;
    font-family: inter;
    font-weight: 200;
    font-size: 21px;
}


svg path {
    fill: transparent;
    stroke: #fff;
    stroke-width: 1;
    stroke-dasharray: 90;
    stroke-dashoffset: 90;
    animation: logoMove 7s ease-in-out infinite alternate-reverse;
}

@keyframes logoMove {
    0% {
        stroke-dashoffset: 90;
    }

    80% {
        fill: transparent;
    }

    100% {
        fill: #fff;
        stroke-dashoffset: 0;
    }
}

/* HEADER */

header {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    width: 100%;
    font-family: inter;
    font-weight: normal;
    font-size: 21px;
    margin-bottom: 40px;
}

.logo,
header a,
a {
    font-weight: 200;
    text-decoration: none;
    margin: 10px;
    color: #f9f8f0;
    text-transform: uppercase;
}

a:hover {
    color: #c8f2f6;
}

.selected {
    color: #c8f2f6;
}

/* HERO */

.hero {
    position: relative;
    display: flex;
    align-items: center;
    margin: 70px auto 130px auto;
    height: 80vh;
    animation: heroAppear 3s ease-in-out;
}

/* take out at the end 

@keyframes heroAppear {
    0% {
        opacity: 0;
        scale: 0.9;
    }

    100% {
        opacity: 1;
        scale: 1;
    }
}

take out at the end */

.hero-wrapper {
    margin: 20px;
    width: 100%;
    position: relative;
}

.hero-text {
    width: fit-content;
}

.hero h1 {
    font-size: 15vw;
    margin: 3px;
    font-weight: 300;
    line-height: 1;
    font-family: anton sc;
}

.moments {
    position: relative;
    left: 25%;
}

.hero-explain {
    width: fit-content;
    font-size: 20px;
    margin-top: 20px;
}

.hero-img img,
.hero-img2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    transform: rotate(10deg);
    transition: 0.8s ease;
}

.hero-img {
    position: absolute;
    top: 20%;
    right: 85%;
    width: 30px;
    height: 300px;
    animation: float 3s ease-in-out infinite;
    mix-blend-mode: darken;
    visibility: visible;
}

.hero-img:hover img {
    transform: rotate(-10deg);
    width: 300px;
}

.hero-img2 {
    position: absolute;
    top: 25%;
    right: 10%;
    width: 20vw;
    height: 20vw;
    animation: float 3s ease-in-out infinite;
    mix-blend-mode: screen;

}

.hero-img2:hover img {
    transform: rotate(-10deg);
    border-radius: 100%;
}

@keyframes float {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }

    100% {
        transform: translateY(0);
    }
}

/* GALLERY */

.gallery1 {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 0 20px;
}

.galleryimages {
    width: 350px;
    height: 350px;
    object-fit: cover;
    border-radius: 20px;
    filter: grayscale(100%);
    overflow: hidden;
    transition: 0.2s ease-in-out;
    animation: appear ease-in-out;
    animation-timeline: view();
    animation-range: entry 0 cover 40%;
}

.galleryimages:hover {
    filter: grayscale(0%);
}

@keyframes appear {
    0% {
        opacity: 0;
        scale: 0.5;
    }

    100% {
        opacity: 1;
        scale: 1;
    }
}

/* CONTACT */

.CA h2 {
    margin: 7px;
    font-size: clamp(20px, 2vw + 50px, 70px);
    line-height: 1;
    font-family: anton sc;
}

.CA {

    display: flex;
    height: 50px;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px 0;
    margin-top: 200px;
    margin-bottom: 150px;

}

.CA-line {

    width: 30vw;
    height: 1px;
    background-color: #f9f8f0;
    margin: 10px;
}

.ca-about {

    position: relative;
    top: -100%;
}

/* FOOTER */

footer {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    width: 100%;
    font-family: inter;
    font-size: 21px;
    margin-top: 50px;

}

html {
    scroll-behavior: smooth;
}

/*ABOUT PAGE*/

.about-page {
    font-size: 20px;
    display: flex;

    line-height: 1.6;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
}

.about-text {
    font-family: inter;
    font-weight: 200;
    width: 40vw;
    font-size: 25px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.about-h3 {
    font-size: 37px;
    font-weight: 200;
    margin: 0;
}

.about-img {
    position: absolute;
    right: 0;
    width: 45vw;
    height: 100vh;
    transition: 0.2s ease-in-out;
    z-index: -1;
}

.about-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.about-footer {
    display: flex;
    backdrop-filter: blur(10px);
    width: 100%;
    justify-content: flex-end;
}

/*MEDIA QUERIES*/

/* max-width: 928px INDEX PAGE*/

@media screen and (max-width: 928px) {

    .hero {
        margin: 70px auto 70px auto;
        height: 70vh;
    }

    .gallery1 {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        padding: 0 10px;
    }

    .galleryimages {
        width: 40%;
        height: auto;
        filter: grayscale(100%);
    }

    /* max-width: 928px ABOUT PAGE*/

    .about-page {
        display: flex;
        flex-direction: column;
        line-height: 1.6;
        margin-top: 20px;
        margin-bottom: 20px;
        height: max-content;
    }

    .about-h3 {
        margin-bottom: 50px;
    }

    .about-text {
        width: 100%;
        font-size: 21px;
        margin-top: 50px;
        margin-bottom: 40px;
    }

    .about-img {
        margin-top: 40px;
        position: relative;
        width: 100%;
        height: 300px;
    }

    .about-footer {
        justify-content: center;
    }
}

/* max-width: 600px MEDIA QUERY*/

@media screen and (max-width: 600px) {

    body {
        padding: 15px;
        line-height: 1.4;
        font-size: 17px;
    }

    header,
    footer {
        font-size: 13px;
        margin-bottom: 60px;
    }

    .hero {
        height: 70vh;
        align-items: flex-end;
    }

    .hero-img2 {
        position: absolute;
        display: flex;
        justify-content: center;
        top: -50%;
        right: 20%;
        left: 20%;
        width: auto;
        height: auto;
        animation: float 3s ease-in-out infinite;
        mix-blend-mode: screen;
    }

    .hero-img {
        visibility: hidden;
    }

    .hero-wrapper {
        position: relative;
        bottom: 0;
        width: 100%;
    }

    .moments {
        position: relative;
        left: 50%;
    }

    .CA {
        padding: 10px;
        margin-top: 100px;
        margin-bottom: 70px;
    }

    .CA h2 {
        margin: 3px;
        font-size: 25px;
        line-height: 1;
        font-family: anton sc;
    }

    .galleryimages {
        width: 100%;
        height: 400px;
        filter: grayscale(100%);
    }
}

@media screen and (max-width: 380px) {

    header,
    footer {

        font-size: 10px;
        margin-bottom: 20px;
    }

    .logo,
    header a,
    a {
        font-weight: 200;
        margin: 2px;
    }

    .moments {
        position: relative;
        left: 20%;
    }

    .CA h2 {
        margin: 3px;
        font-size: 18px;
        line-height: 1;
        font-family: anton sc;
    }

}